<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Edit Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          {{#each data}}
         
          {{#if this.name}}
            <form action="/updateprofile" method="post">
              <input type="text" value="{{this.name}}" hidden name="oldname">
                <div class="form-group"> <label for="username">User Name</label> <input type="text" class="form-control"
                        id="username" placeholder="Enter User Name" name="name" required value="{{this.name}}"> </div>
                <div class="form-group"> <label for="email">Email</label> <input type="email" class="form-control"
                        id="email" placeholder="Enter Email" name="email" required value="{{this.email}}"> </div>
                
                 <div class="form-group"> <label for="email">Enter Your current password</label> <input type="password" class="form-control"
                        id="password" placeholder="password" name="password" required> </div>
          
           <button type="submit"
                    class="btn btn-primary">Save</button> <button type="reset" class="btn btn-secondary">Cancel</button>
            </form>
            {{/if}}
            
            {{/each}}
        </div>
    </div>
    <br><br><br>
    <div class="row container">
        <div class="col md-6">
                <button class="btn btn-dark" data-toggle="modal" data-target="#passwordCenter">Change Password</button>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="passwordCenter" tabindex="-1" role="dialog" aria-labelledby="passwordCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordLongTitle">Update Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/changepss" method="post">
                 {{#each data}}
                 {{#if this.name}}
                 <input type="text" name="name" hidden value="{{this.name}}">
                 {{/if}}
                 {{/each}}
                <div class="form-group"> 
                        <label for="username">New Password</label> 
                        <input type="password" class="form-control"
                        id="newpassword" placeholder="New Password" name="newpassword" required>
                 </div>
                <div class="form-group"> <label for="email">Confirm Password</label> <input type="password" class="form-control"
                        id="confirm" placeholder="confirm password" required> </div>
                
                 <div class="form-group"> <label for="email">Enter Your current password</label> <input type="password" class="form-control"
                        id="email" placeholder="password" name="password" required> </div>
          
           
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
      </div>
    </div>
  </div>
</div>