<style>
    a {
        color: whitesmoke;
    },
    li:hover  {
    color: black !important;
}
</style>

<div class="container-fluid">

    <div class="row flex-nowrap">
        <!--sidebar-->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 border border-left-0"
            style="  background: linear-gradient(90deg, #003E7B 0%, rgba(0, 92, 184, 0.633633) 97.15%, rgba(0, 127, 255, 0) 97.16%, rgba(0, 86, 172, 0.707585) 97.16%);
;border-color: aliceblue;" id="navbarSupportedContent">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
               &nbsp; &nbsp; <img src="/img/logo.png" alt="profile" width="80" height="80" class="rounded-circle">
                <br>
                     <h6>
                     Sree Krishna Natya Sangeetha Academy &
                        M.S.Subbulakshmi
                        Foundation
                     </h6>
                 <p style="font-size: small;">
                        Near sub treasury,Varkala,
                        &nbsp;&nbsp;
                        Tvpm 695143
                </p>
                <!--sideabar-->
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li>
                        <a {{#if dashboard}} href="#" {{else}} href="/dashboard" {{/if}} class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Dashboard</span>
                        </a>

                    </li>
                    <li {{#if attendance}}class = "btn btn-primary" {{/if}}>
                        <a class=" px-0 align-middle nav-link" href="/attendance" >
                            <i class="fs-4 bi-check-lg"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Student Attendance</span>
                        </a>
                        {{!-- <div class="collapse" id="list1">
                            <a class="dropdown-item btn" href="#" style="width: min-content;">Action</a>
                            <a class="dropdown-item btn" href="#" style="width: min-content;">Another action</a>
                            <a class="dropdown-item btn" href="#" style="width: min-content;">Something else here</a>
                        </div> --}}

                    </li>
                    <li {{#if calendar}}class = "btn btn-primary" {{/if}}>
                        <a class="btn px-0 align-middle nav-link" href="/calendar" >
                            <i class="fs-4 bi-calendar-event"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Calendar</span>
                        </a>
                    </li>
                    <li {{#if cultural}}class = "btn btn-primary" {{/if}}>
                        <a class="btn px-0 align-middle" href="/cultural" >
                            <i class="fs-4 bi-trophy"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Cultural Events</span>
                        </a>
                    </li>
                    <li {{#if students}}class = "btn btn-primary" {{/if}}>
                        <a class="btn px-0 align-middle nav-link" href="/students" >
                            <i class="fs-4 bi-book"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Student List</span>
                        </a>
                    </li>
                    <li {{#if teachers}}class = "btn btn-primary" {{/if}}>
                        <a class="btn px-0 align-middle nav-link" href="/teachers" >
                            <i class="fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Teachers Attendance</span>
                        </a>
                    </li>
                    <li {{#if lists}}class = "btn btn-primary" {{/if}}>
                        <a class="btn px-0 align-middle nav-link" href="/lists" >
                            <i class="fs-4 bi-list-ul"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Lists  </span>
                        </a>
                       
                    </li>
                    <li {{#if message}}class = "btn btn-primary" {{/if}}>
                        <a class="btn px-0 align-middle nav-link" href="/message" >
                            <i class="fs-4 bi-telegram"></i><span class="ms-1 d-none d-sm-inline"
                                style="font-size: larger;">&nbsp;Message</span>
                        </a>
                    </li>

                    <li>
                        
                    </li>

                    <li>
                        

                    </li>
                    <li>
                      

                    </li>
                    <li>
                       
                    </li>

                    <li>
                       
                    </li>


                    <!--dummy data starts-->
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>


                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>
                    <li>
                        <a class="btn " data-toggle="collapse" href="#" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><br>
                        </a>

                    </li>

                    <!--dummy list items ends here {change it at the end or set fixed size}-->
                </ul>
                <hr>

            </div>
        </div>
        <div class="col" style="padding: 0;">

            <!--navbar-top-->
            <nav class="navbar navbar-expand-lg navbar-light" style="height:min-content;background-color:white;">

            {{#if calendar}}    
            {{else}}
               <div class="dropdown show">
  <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bi-bell"></i><span>&nbsp;Reminders</span>
  </a>
 

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownMenu">
    <!-- Dropdown items will be added here dynamically -->
  </div>
</div>
 {{/if}}

                <a class="btn ml-auto" href="/profile">
                    <span class="d-sm-inline mx-1 text-dark">Profile</span>
                </a>


                <a class="btn ml-2" role="button">
                    <span class="d-sm-inline mx-1 text-dark"><button onclick="openLogoutPopup()"
                            style="border: 0px solid white; background-color:white ">Logout</button></span>
                </a>

              
            </nav>



<script>
document.addEventListener('DOMContentLoaded', function () {
  fetchDataAndPopulateDropdown();
});

function fetchDataAndPopulateDropdown() {
  // Replace 'your_api_endpoint' with the actual endpoint that returns the array of strings
  fetch('/reminders')
    .then(response => response.json())
    .then(data => {
        console.log(data)
        console.log(data.data);
      const dropdownMenu = document.getElementById('dropdownMenu');
      
      // Clear existing items
      dropdownMenu.innerHTML = '';

      // Add new items
      data.data.forEach(item => {
        const dropdownItem = document.createElement('p');
        dropdownItem.classList.add('dropdown-item');
        dropdownItem.textContent = item.title + " on "+ item.start;
        dropdownMenu.appendChild(dropdownItem);
      });
    })
    .catch(error => console.error('Error fetching data:', error));
}
</script>

 
            <!--content-->
            {{#if students}}
           {{>students}}
           {{/if}}

            {{#if profile}}
           {{>profile}}
           {{/if}}

           {{#if attendance}}
           {{>attendance}}
           {{/if}}

           {{#if calendar}}
           {{>addevent}}
           {{/if}}

           {{#if cultural}}
           {{>awardee}}
           {{/if}}

           {{#if teachers}}
           {{>teacherattendance}}
           {{/if}}

           {{#if lists}}
           {{>watchlist}}
           {{/if}}

           {{#if message}}
           {{>message}}
           {{/if}}

           {{#if addstudent}}
           {{>student_details}}
           {{/if}}

           {{#if updatestudent}}
           {{>updatestudent}}
           {{/if}}
           
           {{#if takeattendance}}
           {{>takeattendance}}
           {{/if}}

           {{#if detailed}}
           {{>detailedview}}
           {{/if}}
           
           {{#if award2}}
           {{>award2}}
           {{/if}}

           {{#if dashboard}}
           {{>dashboard}}
           {{/if}}

        </div>
    </div>
</div>

<div id="logout-popup">
    <div class="modal-body p-4 text-center">
        <div id="imageface"></div>
        <h5 class="mb-0">Do you want to remain on this page or leave?</h5>
        <p class="mb-0">You can always change your mind </p>
    </div>
    <div class="modal-footer flex-nowrap p-0">
        <button type="button"
            class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0  border-end text-danger " id="happy"
            onclick="leavePage()" onmouseover="changeImageSad()"
            onmouseout="resetImage()"><strong>Yes,Leave</strong></button>
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" id="sad"
            data-bs-dismiss="modal" onclick="remainOnPage()" onmouseover="changeImageHappy()"
            onmouseout="resetImage()">No thanks</button>
    </div>
</div>

{{!-- <div id="overlay"></div> --}}
<style>
    .btn {
        font-size: 14px;
    }

    #logout-popup {
        display: none;
        position: fixed;
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        transform: translateY(-40px);
        transition-property: transform;
        transition-duration: 0.3s;
        border-width: 0px;
    }

    @media (max-width: 900px) {
        #logout-popup {
            position: absolute;
            top: 10%;
            left: 10%;
        }
    }
</style>
<script>
    function openLogoutPopup() {
        document.getElementById('logout-popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closeLogoutPopup() {
        document.getElementById('logout-popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    function remainOnPage() {
        closeLogoutPopup();
    }
    function leavePage() {
        window.location.href = "/logout";
    }
    function changeImageHappy() {
        changeImageContent('bi-emoji-laughing-fill', '400px');
    }

    function changeImageSad() {
        changeImageContent('bi-emoji-frown-fill', '150px');
    }

    function resetImage() {
        changeImageContent('bi-emoji-laughing-fill', '120px');
    }

    function changeImageContent(iconClass, width) {
        var emojiIcon = document.createElement('i');
        emojiIcon.className = 'bi ' + iconClass;
        var imageface = document.getElementById('imageface');
        imageface.innerHTML = '';
        emojiIcon.style.width = width;
        imageface.appendChild(emojiIcon);
    }
</script>
</script>